/* Customisation for Twitter Bootstrap        */
/*                                            */
/* Additionaly change following TB variables: */
/* @bodyBackground = transparent              */
/* @linkColor      = darken(@green, 5%)       */
/* @baseFontSize   = 16px                     */
body {
  background-color: transparent;
  background-image: url('/img/canvas-texture.png');
  font-family: 'Noto Sans', sans-serif;
}
/* Custom container for smaller layout */
.container-narrow {
  padding: 20px 10px 30px;
  margin: 0 auto;
  max-width: 840px;
  background-color: white;
  border-left: 4px solid lightGrey;
  border-right: 4px solid lightGrey;
}
.container-narrow > hr {
  margin: 30px 0;
}
.well {
/*  background-color: white; */
}
.well > a {
  padding: 7px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: white;
}
.label {
  margin-right: 8px;
  padding: 12px 8px;
}
.alert-success {
  display: block;
  margin-top: 10px;
}
.post_navigation {
  margin-top: 8px;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  padding-top: 5px;
  padding-bottom: 25px;
}
.post_tags > a {
  .badge;
  float: right;
  margin-right: 3px;
}
.share-container {
  overflow: hidden;
}
.share-button {
  float: left;
  width: 100px;
  height: 26px;
}
h1 > a {
  color: grey;
}
