---
layout: default
title: netzfisch... wikibrain and blogtaker
---
{% for post in site.posts limit: 5 %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

  <div class="post_excerpt">
    <span class="label label-important pull-left">{{ post.date | date_to_long_string }}</span>
    {{ post.content | truncatewords: 100 }}
    <ul class="nav nav-pills pull-right">
      <li>
        <a href="{{ post.url }}"><i class="icon-arrow-right"></i> read more</a>
      </li>
    </ul>
  </div>    

  <hr style="clear:both" />
{% endfor %}

<div id="home">
  <h3>Recent Posts</h3>
  {% include recent-posts.html %}
</div>  
