    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} &mdash; {{ site.author }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="some things that matter to me, mostly tech stuff: linux, ruby, rails, gadgets ... open source">
    <meta name="author" content="{{ site.author }}" />

    <!-- CSS Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">

    <!-- CSS Font -->
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

    <!-- CSS Syntax Highlighting -->
    <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
