    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} &mdash; {{ site.author }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="some things that matter ...">
    <meta name="author" content="{{ site.author }}" />

    <!-- CSS Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <style type="text/css">
      body {
	background-image: url('img/wavegrid.png');
	padding-top: 20px;
	padding-bottom: 40px;
        font-family: 'Noto Sans', sans-serif;
      }
      /* Custom container */
      .container-narrow {
	margin: 0 auto;
	max-width: 840px;
      }
      .container-narrow > hr {
	margin: 30px 0;
      }
      /* Custom twitter bootstrap */
      /*
      /* Additionaly change following TB variables: */
      /* @linkColor    = darken(@green, 5%)         */
      /* @baseFontSize = 16px                       */
      .nav > li > a:hover,
      .nav > li > a:focus {
        text-decoration: none;
        background-color: lightYellow;
      }
      .well {
	background-color: lightYellow;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">

    <!-- CSS Font -->
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

    <!-- CSS Syntax Highlighting -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
