      <div class="navigation">
	<ul class="nav nav-pills pull-right">
	  <li {% if page.url == '/index.html' %}class="active"{% endif %}>
	    <a href="/">Home</a>
	  </li>
	  <li {% if page.url == '/archive.html' %}class="active"{% endif %}>
	    <a href="/archive.html">Archive</a>
	  </li>
	  <li {% if page.url == '/about.html' %}class="active"{% endif %}>
	    <a href="#">About</a>
	  </li>
	</ul>
	<h1 class="muted">netzfisch's<small> ...wikibrain and blogtaker</small></h1>
  <ul class="inline pull-right">
    <li><a href="http://twitter.com/netzfisch"><i class="icon-twitter-sign icon-2x"></i></a></li>
    <li><a href="http://github.com/netzfisch"><i class="icon-github-sign icon-2x"></i></a></li>
    <li><a href="https://plus.google.com/112701595452528814680"><i class="icon-google-plus-sign icon-2x"></i></a></li>
    <li><a href="https://xing.com/profile/Harm_Behrens"><i class="icon-linkedin-sign icon-2x"></i></a></li>
    <li><a href="http://netzfisch.github.com"><i class="icon-h-sign icon-2x"></i></a></li>
  </ul>
      </div>
<div class="pull-right">
</div>
      <hr />
