      <div class="navigation">
	<ul class="nav nav-pills pull-right">
	  <li {% if page.url == '/index.html' %}class="active"{% endif %}>
	    <a href="/">Home</a>
	  </li>
	  <li {% if page.url == '/archive.html' %}class="active"{% endif %}>
	    <a href="/archive.html">Archive</a>
	  </li>
	  <li {% if page.url == '/about.html' %}class="active"{% endif %}>
	    <a href="#">About</a>
	  </li>
	</ul>
	<h1 class="muted">netzfisch's<small> ...wikibrain and blogpost taker</small></h1>
      </div>
      <hr />
