<div class="well well-sm">
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/netzfisch" data-widget-id="315496238994821121" data-tweet-limit="1" data-chrome="noheader noscrollbar transparent" data-link-color="#46a546" data-related="twitterapi,twitter" width="auto">Tweets von @netzfisch</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
