<div class="panel panel-default">
  <div class="panel-heading">ELSEWHERE</div>
  <div class="panel-body" style="padding: 10px;">
    <a href="http://twitter.com/netzfisch"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a href="http://github.com/netzfisch"><i class="fa fa-github-square fa-3x"></i></a>
    <a href="http://www.linkedin.com/profile/view?id=1640208"><i class="fa fa-linkedin-square fa-3x"></i></a>
    <a href="https://www.xing.com/profiles/Harm_Behrens"><i class="fa fa-xing-square fa-3x"></i></a>
  </div>
</div>
