<div class="panel panel-default">
  <div class="panel-heading">CHEAT SHEETS</div>
  <div class="panel-body">
    <a href="/static/apps.html"><span class="label label-success">apps</span></a>
    <a href="/static/docker.html"><span class="label label-success">docker</span></a>
    <a href="/static/git.html"><span class="label label-success">git</span></a>
    <a href="/static/linux.html"><span class="label label-success">linux</span></a>
    <a href="/static/rails.html"><span class="label label-success">rails</span></a>
    <span class="label label-default">vim</span>
  </div>
</div>
