<div class="well well-small">
  <h5 class="muted">NO COMMENT BOX</h5>
  <p>
    Right, <strong>not here</strong>. But it doesn’t mean I’m not interested in your feedback. I just prefer to <strong>use more busy services</strong> ;-) where a wider discussion could incur. So tweet me <a class="tweet-box-button web-intent" href="https://twitter.com/intent/tweet?screen_name=netzfisch&amp;original_referer=http%3A%2F%2Flocalhost%3A4000%2Flinux%2F2013%2F12%2F23%2Flubuntu-dev-box-quick-setup.html&amp;profile_id=6664112&amp;related=twitterapi%2Ctwitter&amp;tw_p=embeddedtimeline&amp;tw_w=315496238994821121" data-scribe="element:timeline_permalink" data-tw-params="true">@netzfisch</a> or if you <strong>find an error</strong>, fork my blog, correct the post and <strong>send me a pull request</strong> via <a href="https://github.com/netzfisch/netzfisch.github.io">GitHub</a>. Thanks for your efforts.
  </p>
</div>
