---
layout: default
sidebar_posts: related
---
<div id="post">
  <div class="post_content">
    <h3>{{ page.title }}</h3>
    <span class="post_date label label-danger">{{ page.date | date_to_long_string }}</span>
    {{ content }}
  </div>

  <div class="post_tag">
    {% for tag in page.tags %}
      <a href="/tags.html#{{ tag }}" rel="tag" class="badge">{{ tag }}</a>
    {% endfor %}
  </div>
  {% include widget_social-share.html %}
  {% include widget_comment-box.html %}

  <div class="post_navigation">
    <ul class="pager">
      {% if page.previous.url %}
      <li class="previous"><a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-arrow-left"></i> Previous Post</a></li>
      {% endif %}
      {% if page.next.url %}
      <li class="next"><a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">Next Post <i class="icon-arrow-right"></i></a></li>
      {% endif %}
    </ul>
  </div>
</div>
