---
layout: default
---
<div id="post">
  <h2>{{ page.title }}</h2>

  <div class="post_content">
    <span class="label label-important pull-left">{{ page.date | date_to_long_string }}</span>
    {{ content }}
  </div>    

  <div class="post_tags">
    {% for tag in page.tags %}
      <a href="/tags.html#{{ tag }}" class="badge">{{ tag }}</a>
    {% endfor %}
  </div>

  <br class="clearfix" />

  <div class="alert alert-success text-center">
    <strong><i class="icon-info-sign"></i> Heads up - COMMENTS are welcome, just give'me a TWEET !</strong>
  </div>

</div>
